.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #F8F9FB;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
  }
  
  .dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdowncontent a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdowncontent {display: flex; flex-direction: column; }
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .dropdown2{
    position: relative;
    display: inline-block;
  }

  .dropdown2item{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    width: 10vw;
    padding: 10px;
    margin-top: 3.5vh ;
    width: fit-content;
  }


  .dropdown2:hover .dropdown2item{
    display: block;
  }

  .dropdowncontent2{
    width: 100%;
    border: 0px ;
    padding: 0.2vw;
    border-radius: 5px;
    margin: 2px;
  }

  .dropdowncontent2:hover {
    background-color: #ddd;
  }